@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto&display=swap:100,300,400,500,700,900|Limelight&display=swap');

body {
   
    text-align: justify;
    
}

.hero-container {
    height: 90vh;
    background: url('../images/spa-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: left;
    justify-content: left;
    bottom: 0;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    margin: 40vh 0 10vh 0;
    margin-bottom: 40px;
    text-align: left;
    font-weight: 600;
    font-family: 'Comic Neue', sans-serif;
    font-style: italic;
    color: #a8e619;
}

.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand img{
    width: 300px;
    height: 65px;
}

.navbar-nav .nav-item {
    font-family: 'Comic Neue', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding-right: 10px;
    padding-left: 10px;
}


.nav-item {
    color: #a8e619;
}

.active a {

    color: #a8e619 !important;

}

.navbar ul li a:hover {
    color: #a8e619 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}


@media screen and (max-width: 540px){
    .hero-cta {
        margin: 30vh 0 10vh 0;
        text-align: right;
    }
    .jumbotron-header {
        text-align: right;
    }
}

.btn--book {
    background-color: #6c9708;
    border-color: #a8e619;
    color: #ffffff; 
    text-transform: uppercase;
}

.btn--book:hover {
    background-color: #a8e619;
    border-color: #a8e619;
}

.about{
    background-color: #466106;
    width: 100%;
    color: #fafafa;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.about p{
    font-size: 1.2em;
 }

 .rounded-circle {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 30px 10px;
}
 
.sub-title {
    color: #a8e619;
    font-size: 2em;
}
 .title {
    padding: 5rem 1rem 5rem 1rem;
 }

.container-fluid{
    padding: 0;
}
.spa-gallery img {
    width: 100%;
    margin-top:20px; 
    margin-bottom:20px;
}

.spa-gallery figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.spa-gallery figure:hover img {
	opacity: .5;
}
    
.required-input {
    color: rgba(211, 6, 6, 0.815);
}



/*------------ MEDIA QUERIES ------------*/

/*phones*/
@media screen and (max-width: 768px) {
    .fontchange-sm {
        font-size: 20px;
    }
}

/*phones and tablets*/
@media screen and (max-width: 992px) {
    .gallery-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 50%;
        padding: 10px;
    }
}

/*desktops and XL screens*/
@media screen and (min-width: 993px) {
    .gallery-row {
        margin-top: 2rem;
    }
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    }
}





.footer-container {
    padding: 15px 15px 5px 15px;
    color: #ffffff;
}

.footer-bg-color {
    background: #466106;
}

.footer-heading {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-section-margin {
    margin-bottom: 16px;
}

.footer-heading-social {
    text-align: center;
}

.social-links-item {
    padding: 0 10px;
    font-size: 38px;
    text-align: center;
    color: #ffffff;
}

